<!-- <div class="container">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" formControlName="title" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea formControlName="content" id="content" class="form-control" rows="3"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Send Post</button>
    </div>
  </form>
  <hr>
  <div class="mt-3">
    <button type="button" class="btn btn-primary">Fetch Posts</button> | 
    <button type="button" class="btn btn-danger">Clear Posts</button>
  </div>
  <div class="mt-3">No posts available!</div>
</div> -->
<router-outlet />
